<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <title>3カラム</title>
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- リセットCSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
  <link rel="stylesheet" href="./css/style.css">
</head>
<body>
  <div class="wrap">
    <header class="header">ヘッダー</header>
    <main class="main">
      <div class="main-content">メインコンテンツ</div>
      <aside class="side side1">サイドメニュー1</aside>
      <aside class="side side2">サイドメニュー2</aside>
    </main>
    <footer class="footer">フッター</footer>
  </div>
</body>
</html>
