.wrapper {
  max-width: 1500px;
  min-width: 1200px;
  margin: 0 auto;
}

/***メイン***/

main .top {
  position: relative;
}

main .image {
  display: flex;
  overflow: hidden;
}

.image img {
  display: block;
}

main .image img {
  width: 100%;
}

main .top::after {
  content: "";
  display: block;
  text-align: center;
  opacity: 0.5;
  background-color: #000000;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
}

main .top p {
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  color: #ffffff;
  z-index: 1;
  line-height: 70px;
}

.info {
  display: flex;
}

.tenji {
  background-image: url(../images/bg_special.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 50%;
  padding: 20px 0;
}

.event {
  background-image: url(../images/bg_event.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 50%;
  padding: 20px 0;
}

.float_left {
  float: left;
}

.float_right {
  float: right;
}

.clear_fix_a::after {
  content: "";
  display: block;
  clear: both;
}

.clear_fix_b::before {
  content: "";
  display: block;
  clear: both;
}

.tenji .tenji_inner h2, .event .event_inner h2 {
  text-align: center;
  font-size: 24px;
  color: #257DC6;
}

.event .event_inner h2 {
  color: #ffffff;
}

.kiji {
  max-width: 450px;
  min-width: 450px;
  margin: 0 auto;
  display: block;
}

.kiji_title {
  padding: 20px;
  margin-top: 20px;
  background-color: #ffffff;
}

.tenji .kiji .kiji_title h3, .event .kiji .kiji_title h3 {
  font-size: 20px;
  color: #257DC6;
  line-height: 60px;
}

.tenji .kiji .kiji_title p, .event .kiji .kiji_title p {
  font-size: 12px;
  color: #000000;
}

.kiji_detail {
  padding: 20px;
  font-size: 12px;
  background-color: #EFEFEF;
  color: #000000;
}

.kiji_detail p {
  display: inline-block;
  vertical-align: top;
}

.kiji_detail ul {
  display: inline-block;
}

.button {
  text-align: center;
}

.show_button {
  background-color: #4F4F4F;
  color: #ffffff;
  padding: 15px 60px;
  border-radius: 5px;
  display: inline-block;
  margin-top: 100px;
}

.access {
  background-color: #EFEFEF;
  width: 60%;
}

.access .access_inner {
  display: inline-block;
  padding: 20px 100px 50px 0;
}

.access .access_inner h2 {
  font-size: 24px;
  color: #257DC6;
  margin-bottom: 20px;
}

.access .access_inner .access_map {
  display: inline-block;
  vertical-align: top;
}

.access .access_inner .access_info {
  display: inline-block;
  padding-left: 5px;
}

.access .access_inner .access_info ul li {
  font-size: 12px;
  margin-bottom: 10px;
  border-top: solid 1px #BBBBBB;
  border-bottom: solid 1px #BBBBBB;
  padding: 10px 0 10px 10px;
  max-width: 200px;
  min-width: 200px;
}

.access .access_inner .access_info ul li p {
  font-size: 18px;
  color: #257DC6;
  margin-bottom: 10px;
}

.panflet {
  background-color: #ffffff;
  margin-top: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.panflet h3 {
  font-size: 20px;
  color: #257DC6;
  margin-bottom: 20px;
}

.panflet .panflet_jp, .panflet .panflet_en {
  display: inline-block;
}

.panflet .panflet_jp {
  margin-left: 30px;
  margin-right: 10px;
}

.panflet img {
  width: auto;
  height: 120px;
}

.panflet p {
  font-size: 12px;
  display: inline-block;
}

.please h3 {
  font-size: 20px;
  color: #257DC6;
  margin: 20px 0 0 -20px;
}

.please ul {
  list-style: disc;
  padding-left: 20px;
  font-size: 14px
}

.twitter {
  width: 40%;
  padding: 50px 0 0 20px;
}

.twitter h3 span {
  font-size: 12px;
  color: #257DC6;
}

.twitter h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

.tweet_wrapper {
  display: inline-block;
  overflow: auto;
  border-top: 1px solid #E1E8EC;
  border-bottom: 1px solid #E1E8EC;
  height: 700px;
}

.tweet {
  margin-top: 20px;
  display: block;
  color: #000000;
}

.twitter .tweet .tweet_inner .contributor img {
  border-radius: 50%;
  vertical-align: middle;
}

.twitter .tweet .tweet_inner .contributor .act {
  display: inline-block;
  vertical-align: middle;
}

.twitter .tweet .tweet_inner .contributor .act>:nth-child(1) {
  font-size: 14px;
}

.twitter .tweet .tweet_inner .contributor .act>:nth-child(2) {
  font-size: 10px;
  color: #8899A6;
  
}

.twitter .tweet .tweet_inner .contents {
  font-size: 12px;
  margin-top: 10px;
}

.twitter .tweet .tweet_inner .contents img {
  border-radius: 5px;
  margin-top: 10px;
  padding-right: 3px;
}

.follow_button {
  background-color: #217AC5;
  color: #ffffff;
  padding: 15px 60px;
  border-radius: 5px;
  display: inline-block;
  margin-top: 50px;
}

.links {
  background-color: #60B7E4;
  clear: both;
  padding: 30px 50px;
  text-align: center;
}

.links ul li {
  display: inline-block;
  padding-right: 30px;
}

.links ul li img {
  vertical-align: bottom;
}