@charset "utf-8";
.container {
  margin: 100px auto;
  width: 600px;
}

.anime {
  width: 100px;
  height: 100px;
  margin: 50px auto;
}
.anime1 {
  background:blue;
  animation: anime1 4s ease-in infinite;
}
.anime2 {
  background:green;
}
.anime2:hover {
  animation: anime2 2s ease alternate;
}
.anime3 {
  background: pink;
}
.anime3:hover {
  animation: anime3 2s ease alternate;
}

@keyframes anime1 {
  0% {
    transform: rotate(0);
  }
  25% {
    transform: rotate(90deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(270deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes anime2 {
  from {
    width: 100px;
  }
  to {
    width: 500px;
  }
}

@keyframes anime3 {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(300px);
  }
}
