<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <title>yahooレイアウト</title>
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="format-detection" content="telephone=no">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
  <link rel="stylesheet" href="./css/style.css">
</head>
<body>
  <div class="wrap">
    <header class="header">
      <h1>ロゴ画像</h1>
    </header>
    <main class="main">
      <div class="main-content">
        <div class="head-line">
          <ul>
            <li>テキストテキストテキストテキスト</li>
            <li>テキストテキストテキストテキスト</li>
            <li>テキストテキストテキストテキスト</li>
            <li>テキストテキストテキストテキスト</li>
            <li>テキストテキストテキストテキスト</li>
          </ul>
        </div>
        <div class="middle-content">
          <h2>サブタイトル</h2>
          <ul>
            <li>product1</li>
            <li>product2</li>
            <li>product3</li>
            <li>product4</li>
          </ul>
        </div>
        <div class="middle-content">
          <h2>サブタイトル</h2>
          <ul>
            <li>product1</li>
            <li>product2</li>
            <li>product3</li>
            <li>product4</li>
          </ul>
        </div>
      </div>
      <div class="sidebar1">
        <nav>
          <ul>
            <li><a href="">item1</a></li>
            <li><a href="">item2</a></li>
            <li><a href="">item3</a></li>
            <li><a href="">item4</a></li>
            <li><a href="">item5</a></li>
            <li><a href="">item6</a></li>
            <li><a href="">item7</a></li>
            <li><a href="">item8</a></li>
            <li><a href="">item9</a></li>
            <li><a href="">item10</a></li>
          </ul>
          </nav>
      </div>
      <div class="sidebar2">
        <div class="banner">バナー画像</div>
      </div>
    </main>
    <footer class="footer">
      <small>Copyright (C) 2018 テキストテキストテキストテキストテキストテキスト</small>
    </footer>
  </div>
</body>
</html>
