@charset "UTF-8";
html {
  font-size: 62.5%;
}
body {
  background: #f0f8ff;
}
* {
  box-sizing: border-box;
}
.wrap {
  max-width: calc(1280/1920*100%);
  margin: 50px auto;
  font-size: 2rem;
  text-align: center;
}
.header {
  background: #e6e6fa;
  padding: 5rem 0;
}
.footer {
  background: #add8e6;
  padding: 5rem 0;
}

/*以下に自身でcssを記載する*/
.menu {
  border: 1px solid #000;
  background: #fff8dc;
  width: 20%;
  float: left;
  height: 100%;
  line-height: 300px;
}

.left {
  float: left;
}

.right {
  float: right;
}

.clear {
  clear: both;
}
