* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  cursor: pointer;
}

/***ヘッダー***/

.header_inner {
  padding: 0 200px;
  display: flex;
  justify-content: space-between;
}

.header_inner h1 {
  font-size: 32px;
  line-height: 30px;
  display: inline-block;
}

.header_inner h1 a {
  color: #41A6C4;
}

.header_inner h1 span {
  font-size: 16px;
}

.hukidashi a {
  position: relative;
  display: inline-block;
  margin: 1.5em 0;
  max-width: 100%;
  background-color: #217AC5;
  text-align: center;
  border-radius: 5%;
  font-size: 12px;
  padding: 7px 10px;
  color: #ffffff;
}

.hukidashi a:before {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -7px;
  border: 7px solid transparent;
  border-top: 15px solid #217AC5;
}

.hukidashi a:hover {
  opacity: 0.5;
}

.header_inner aside {
  font-size: 12px;
  display: inline-block;
  padding-left: 5px;
}

/***ナビゲーション***/

nav {
  background-color: #217AC5;
  margin-top: 5px;
  padding: 0px 200px;
}

header nav ul {
  display: flex;
  justify-content: center;
}

header nav ul li {
  width: calc(100%/7);
  height: 90px;
}

header nav ul li {
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
}

header nav ul li:first-child {
  background-image: url(https://placehold.jp/16/217ac5/ffffff/111x65.png?text=%E5%B8%B8%E8%A8%AD%E5%B1%95%E7%A4%BA);
}

header nav ul li:nth-child(2) {
  background-image: url(https://placehold.jp/16/217ac5/ffffff/111x65.png?text=%E7%89%B9%E5%88%A5%E5%B1%95%E7%A4%BA);
}

header nav ul li:nth-child(3) {
  background-image: url(https://placehold.jp/16/217ac5/ffffff/111x65.png?text=%E3%83%95%E3%83%AD%E3%82%A2%E3%83%9E%E3%83%83%E3%83%97);
}

header nav ul li:nth-child(4) {
  background-image: url(https://placehold.jp/16/217ac5/ffffff/111x65.png?text=%E3%82%A4%E3%83%99%E3%83%B3%E3%83%88%E6%83%85%E5%A0%B1);
}

header nav ul li:nth-child(5) {
  background-image: url(https://placehold.jp/16/217ac5/ffffff/111x65.png?text=%E4%BA%A4%E9%80%9A%E6%A1%88%E5%86%85);
}

header nav ul li:last-child {
  background-image: url(https://placehold.jp/16/217ac5/ffffff/111x65.png?text=%E5%9B%A3%E4%BD%93%E8%A6%8B%E5%AD%A6);
}

header nav ul li a {
  width: 100%;
  height: 100%;
  display: inline-block;
}

header nav ul li:hover {
  opacity: 0.5;
}

/***フッター***/

footer .footer_inner {
  padding: 50px 0;
}

footer .footer_inner .title {
  text-align: center;
}

.footer_inner p {
  font-size: 32px;
  line-height: 30px;
  display: inline-block;
  text-align: left;
}

.footer_inner p a {
  color: #41A6C4;
}

.footer_inner p span {
  font-size: 16px;
}

.footer_inner aside {
  font-size: 12px;
  display: inline-block;
  padding-left: 5px;
  text-align: left;
}

.inquiry {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

footer .footer_inner .inquiry p {
  justify-content: center;
  font-size: 12px;
  display: inline-block;
  line-height: 20px;
}

footer .footer_inner .inquiry>:nth-child(1) {
  vertical-align: top;
}