.wrapper {
  background-color: #F7F7F7;
  max-width: 1500px;
  min-width: 1200px;
  margin: 0 auto;
}

.float_left {
  float: left;
}

.float_right {
  float: right;
}

.clear_fix_a::after {
  content: "";
  display: block;
  clear: both;
}

.clear_fix_b::before {
  content: "";
  display: block;
  clear: both;
}

main {
  padding-right: 20%;
  padding-left: 20%;
}

main h2 {
  text-align: center;
  font-size: 24px;
  color: #007AC5;
  margin-top: 50px;
}

main .list {
  text-align: center;
  margin-top: 30px;
}

main .list ul {
  display: inline-block;
  text-align: left;
}

main .list ul li {
  border-top: 1px solid #000000;
  padding: 20px 0;
}

main .list ul li:last-child {
  border-bottom: 1px solid #000000;
}

main ul li span {
  background-color: #6666CC;
  color: #ffffff;
  padding: 5px 20px;
  font-size: 12px;
  margin-right: 20px;
}

main ul li p {
  line-height: 30px;
  font-size: 14px;
  display: inline-block;
}

main ul li p a {
  color: #000000;
}

main .entrance h2 {
  color: #ffffff;
  position: relative;
  padding: 10px 0;
  height: 100%;
  background-color: #40adca;
}

main .entrance h2 .bg {
  display: block;
}

main .entrance h2 .bg1 {
  position: absolute;
  width: 10%;
  background-color: #7b518f;
  height: 100%;
  top: 0;
}

main .entrance h2 .bg2 {
  position: absolute;
  width: 20%;
  background-color: #8c8cbc;
  height: 100%;
  top: 0;
  left: 10%;
  border-right: 3px solid #ffffff;
}

main .entrance_inner {
  background-color: #ffffff;
  padding: 30px;
}

main .entrance_inner h3 {
  text-align: left;
  color: #007AC5;
  font-size: 20px;
}

main .entrance_inner .center {
  text-align: center;
  margin-top: 20px;
}

main .entrance_inner .title {
  text-align: center;
  display: inline-block;
}

main .entrance_inner .title ul {
  text-align: left;
  margin-top: 30px;
}

main .entrance .entrance_inner .title ul li {
  padding-bottom: 20px;
}

main .entrance ul li span {
  color: #007AC5;
  border: 2px solid #007AC5;
  background-color: #ffffff;
}

main .entrance .entrance_inner .ditail {
  margin-top: 20px;
}

main .entrance .entrance_inner .ditail h4 {
  margin-top: 20px;
  text-align: center;
  color: #007AC5;
  position: relative;
}

main .entrance .entrance_inner .ditail h4 .text {
  background-color: #ffffff;
  padding: 0 20px;
  position: relative;
  z-index: 1;
}

main .entrance .entrance_inner .ditail h4 .border {
  position: absolute;
  display: block;
  border-top: 1px solid #007AC5;
  width: 100%;
  top: 12px;
}

main .entrance .entrance_inner .ditail p {
  margin: 20px 0;
}

main .entrance .entrance_inner .ditail ul {
  margin-left: 20px;
}

.circle {
  display: list-item;
  list-style: circle
}

.disc {
  display: list-item;
  list-style: disc;
  margin-left: 20px;
}

.images {
  display: flex;
  margin-top: 20px;
}

.images img {
  display: block;
  width: calc(100%/2);
  padding: 10px;
}

footer {
  margin-top: 30px;
}

.footer_inner {
  border-top: 3px solid #007AC5;
}